$basic-font-color:#dfdfdf;
$primary:#1e9ce6;
$secondary: #d87b11;
$success:#31ac00;
$danger:#eb0101;

$app-colors:("primary",$primary),("secondary",$secondary),
              ("success",$success), ("danger",$danger);


// $brand-colors: ("red",$c-red),("green", #008000),("blue",#0000ff);